---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
renderData:
  title: "{{ tag }} Clients"
---

<h2>{{ tag }} Clients</h2>

{% set postslist = collections[ tag ] %}
{% include "components/postslist.njk" %}

<nav>
  <a href="{{ '/clients/' | url }}">← View all</a>
</nav>
